
$clr-green:#6A983C;
$font-fam:'Open Sans';
$clr-smll-text:#575757;
$clr-def:#151515;
$clr--f5f5:#F5F5F5;
$clr--f9f9:#F9F9F9;
/*-------------------------------------------------------------------------------------------------*/
@import url(normalize.css);

.header {
   font-family: "Poppins"
}
.header__top {
   display: flex;
   justify-content: space-between;
   padding: 1rem 0;
   font-family: 'Open Sans';
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 1rem;
   border-bottom: 0.125rem solid #15151525;
}
.top-contacts {
   display: flex;
   flex-wrap: wrap;
   gap: clamp(0.7rem,3vw,2.0625rem);
}
.contact__item {
}
.contact__link {
   color: $clr-def;
   font-size: 0.75rem;
   line-height: 1rem;

   &:hover{
      text-decoration: underline;
}
}


.top__navigation {
}
.navigation__list {
   display: flex;
   gap: clamp(0.7rem,3vw,2.375rem);
}
.navigation__item {
}
.navigation__link{
   &:hover{
      text-decoration: underline;
} 
}

.link__green{
   color: $clr-green;
   font-size: 0.75rem;
   line-height: 1rem;
}


/*-------------------------------------------------------------------------------------------------*/
.header__middle {
   display: grid;
   grid-template-columns: 1fr 1fr minmax(90px,1fr);
   padding: 2.5rem 0;
   align-items: center;
   gap: 0.625rem;
}


/*-------------------------------------------------------------------------------------------------*/
.middle__search {
   
}
.search-form {
   display: flex;
   align-items: center;
   padding: 0.625rem 1rem;
   background-color: $clr--f9f9;
   border: 1px solid #D1D1D1;
   border-radius: 12px;
   width:31.25rem;
}
.select__wrapper{
   position: relative;
   margin-right: clamp(0.625rem,3vw,3rem);


   &::after{
      content: url(../image/arrowToBottom.svg);
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 1rem;
      height: 1rem;

      pointer-events: none;
   }
}

.form-select{
   appearance: none;
   background-color: $clr--f9f9;
   font-weight: 700;
   font-size: 15px;
   border: none;
   outline: none;
   cursor: pointer;
   padding:2px 20px 2px 2px ;
   border-radius: 5px;

   &:focus{
      outline: none;
   }

   & option{
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 1rem;
   }
}
.search__input {
   background-color: $clr--f9f9;
   width: 100%;
   padding-right: 0.625rem;
}
.search__button {
      background: url(../image/header/search.svg);
      display: inline-block;
      width: 1rem;
      height: 1rem;
     padding-right: 1rem;
}

/*-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------*/


@media (max-width: 830px){
   .header__middle {
      grid-template-columns: 1fr 1fr;
      row-gap: 1.5rem;
   }
   .search-form{
      grid-row: 2;
      width: 100%;
      grid-column: 1/3;
   }
}


/*-------------------------------------------------------------------------------------------------*/

.header__user {
   
}
.user {
   display: flex;
   justify-content: flex-end;
   gap: 2.5rem;
}
.user__profile {
}
.user__basket {
   position: relative;
   cursor: pointer;
}

.basket-modal{
   position: fixed;
   top: 45%;
   left: 50%;
   transform: translate(-50%,-50%);
   height: 500px;
   width: 500px;
   padding: 1rem;
   background-color: #151515;
   border-radius: 12px;
   z-index: 100;
   color: #fff;
   visibility: hidden;
   opacity: 0;
   transition: all .3s;
   pointer-events: none;

   &.open{
      top: 50%;
      opacity: 1;
      pointer-events: all;
      visibility: visible;
   }
}


.basket__amount{
   position: absolute;
   bottom: -4px;
   left: -5px;
   width: 1rem;
   height: 1rem;
   padding-top: 3px;
   padding-left: 4px;
   font-weight: 600;
   font-size: 0.75rem;
   color: #fff;
   background: #E6704B;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
   border-radius: 50%;
}


.close-modal {
   position: absolute;
   z-index: 55;
   top: 0px;
   right:0px;
   font-size: 2rem;
   color: #fff;
   cursor: pointer;
}

.lock{
   overflow: hidden;
}

/*---------------------------------chapters----------------------------------------------------------------*/
.chapters {
   background-color: $clr--f9f9;
}
.chapter__list {
   padding: 1rem 0;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   row-gap: 1rem;
   & > li{
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 5px;
   } 
   & li a{
      color: $clr-def;
   }
   & > li::after{
      content: url(../image/arrowToBottom.svg);
      position: relative;
      top: -0.25rem;
      right: 0;
      width: 1rem;
      height: 1rem;
      transition: 0.4s;
   }
}
.chapter__list > li:hover::after{
   transform: rotateX(-180deg);
}

.chapter__link {
   font-weight: 500;
      font-size: 0.9375rem;
      color: $clr-def;
      display: inline-block;
      cursor: pointer;
}
