@import url(normalize.css);
$clr-green:#6A983C;
$font-fam:'Open Sans' sans-serif;
$clr-smll-text:#575757;
$clr-def:#151515;
$pad-top-bot: clamp(1rem, 4vw,4rem);

/*--------------------------------------general classes-----------------------------------------------------------*/
.loyut {
   display: grid;
   grid-template-columns: clamp(12.5rem,12vw, 13.75rem) 1fr;
   gap: clamp(1rem, 10vw, 7.5rem);
   padding: $pad-top-bot 0.9375rem;
   line-height: 1.5;
}
.menu__block {

   & h4{
      font-weight: 600;
      font-size: 1.125rem;
      line-height: calc(27/18);
      color: $clr-def;
      margin-bottom: 1rem;
   }
}


.menu__list {

   & li:not(last-child){
      margin-bottom: 1rem;
   }
   & li:last-of-type{
      margin-bottom: 3rem;
   }
   & li a{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: calc(19/14);
      text-decoration-line: underline;
         color: $clr-green;
   }
}
.menu__button {
   font-weight: 700;
   font-size: 15px;
   line-height: 22px;
   color: $clr-def;
   padding: 12.5px 1rem;
   background: #F5F5F5;
   border-radius: 12px;
   transition: 0.4s;
   display: inline-block;
   &:hover{
      background: #bbbaba;
   }

&::after{
   content: url(../image/arrowToRight.svg);
   display: inline-block;
   position: relative;
   top: 3px;
   width: 1rem;
   height: 1rem;
   padding-left: 0.4375rem;
}
}
@media (max-width: 876px){
   .loyut{
      grid-template-columns: 1fr;
      gap: 1rem;
   }
   .menu__list{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      & li:not(last-child){
         margin-bottom: 0;
      }
   }
   
}
/*-------------------------------------------------------------------------------------------------*/
  

   .category-menu__content {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
      gap: 2rem;
   }
   .category-menu__article {
   }
   .article {
      line-height: 1.5;
      padding: 3rem 0px 2rem 2rem;
      display: flex;
      flex-direction: column;
      background-color: #d4cb4973;
      border-radius: 0.75rem;
   }
   .article__subtitle {
   font-weight: 600;
   font-size: 0.75rem;
   color: $clr-green;
   margin-bottom: 5px;
   }
   .article__title {
      font-weight: 600;
      font-size: 1.375rem;
      flex: 1;
      margin-bottom: 4.375rem;
   }
   .article__button {
      font-weight: 700;
      font-size: 0.9375rem;
      color: $clr-def;
      padding: 0.75rem 1rem;
      border: 2px $clr-green solid;
      width: max-content;
      border-radius: 0.75rem;
      transition: .4s;
      &:hover{
         background-color: #57575746;
      }

      &::after{
         content: url(../image/arrowToBottom.svg);
         display: inline-block;
         position: relative;
         top: 0.5rem;
         width: 1rem;
         height: 1rem;
         padding-left: 0.4375rem;
         transform: rotate(-90deg);
      }
   }


  

   /*-------------------------------------best------------------------------------------------------------*/
   .best {
   }
   .best__body {
      line-height: 1.5;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
      gap: 2rem;
   }
   .best__article {
      padding: 1rem;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      position: relative;
   }
   .best__image {
      margin-bottom: 1rem;
   
      & img{
         width: 100%;
         object-fit: cover;
      }
   }
   .discount{
      position: absolute;
      top: 28px;
      left: 36px;
      font-weight: 600;
      font-size: 0.75rem;
      color: $clr-green;
      background: #F4F8EC;
      border-radius: 12px;
   }
   .best__title {
      font-weight: 500;
      font-size: 0.9375rem;

   }
   .best__text {
      font-size: 0.75rem;
      color: $clr-smll-text;
      margin-bottom: 1rem;
   }
   .best__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .best__number {
      font-weight: 600;
      font-size: 18px;
      line-height: calc(27/18);

      & span{
         display: block;
         font-weight: 600;
         font-size: 0.75rem;
         text-decoration: line-through;
         color: #A9A9A9;
      }
   }
   .best__button {
      font-weight: 700;
      font-size: 0.9375rem;
      color: #ffff;
      padding: 0.4063rem 0.75rem;
      background: $clr-green;
      border: 2px solid #46760A;
      border-radius: 12px;
      display: inline-block;
   }