@import url(../css/full.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);
$clr-green:#6A983C;
$font-fam:'Open Sans';
$clr-smll-text:#575757;
$clr-def:#151515;
$clr--f5f5:#F5F5F5;
$clr--f9f9:#F9F9F9;
$clr--a9a9:#A9A9A9;
$pad-top-bot: clamp(1rem, 4vw,4rem) 0;


.sml-green{
   font-weight: 600;
   font-size: 0.75rem;
   color: $clr-green;
   background: #F4F8EC;
   border-radius: 12px;
   padding: 2px 6px;
   height: max-content;
 }
 .title {
   font-weight: 600;
   font-size: 1.125rem;
   color: $clr-def;
   margin-bottom: 1rem;
}
.def-list div{
   margin-bottom: 0.875rem;
}
.def-list p, label{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 0.875rem;
}

.button{
   background: #6A983C;
   border: 2px solid #46760A;
   border-radius: 0.75rem;
   color: #ffff;
   padding: 0.75rem 1rem;
}
/*--------------------------------------top-body -----------------------------------------------------------*/
main{
   line-height: 1.5;
}
.top-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 15px;
   & >h2{
      font-weight: 600;
      font-size: 2rem;
   }
}

.how-view {
   display: flex;
   align-items: end;
   gap: 25px;
   font-family: $font-fam;
   font-weight: 400;
   font-size: 0.75rem;
   color: $clr--a9a9;
  
   & p{
      cursor: pointer;
   }

   
}

.tab-link{
   & svg{
      stroke:$clr--a9a9;
      display: inline-block;
      position: relative;
      top: 3px;
   }
}

.grid {
     
   
   // &::before{
   //    content: url(../image/fruits/grid.svg);
   // }
}
.list {

}
.prod-block{
display: flex;
align-items: center;

& span{
      padding: 0px 6px;
}
}
.prodacts {
}


/*-----------------------------filter--------------------------------------------------------------------*/
.form__container {
   padding: 1rem;
}
.top-form {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;

   & > div{
      border: 1.5px solid #D1D1D1;
      border-radius: 0.75rem;
      background-color: $clr--f9f9;
   }
}


.filter__radio {
   display: flex;
   padding: 0.625rem 1rem;
   gap: 1rem;
}
.filter__item {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   position: relative;
}
.discr {
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 0.875rem;
   padding-left:2rem;
}

.radio{
   display: none;

   &:checked + .fake::before{
      opacity: 1;
   }
}
.fake{
   width: 1.5rem;
   height: 1.5rem;
   border: 1.5px solid #D1D1D1;
   border-radius: 50%;
   position: absolute;
   top: -2px;
   left: 0;
   pointer-events: none;
   &:before{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100% ;
      border: 0.3125rem solid black;
      background-color: #ffff;
      border-radius: 50%;
      opacity: 0;
      transition: .4s;
   }
}


.filter__checkbox {
   display: flex;
   align-items: center;
   padding: 0.625rem 1rem;
   position: relative;


   & .discr{
      margin-right: 0.625rem;
      padding-left: 2rem;
   }
}
.checkbox__input {
   display: none;

   &:checked + .checkbox__fake{
      opacity: 1;
      background-color: #6A983C;
      border-color:#3e631a ;
   }
   &:checked + .checkbox__fake::before{
      opacity: 1;
   }
}
.nbm {
   font-weight: 600;
   font-size: 0.75rem;
   padding: 0 0.5rem;
   border: 1.5px solid #D1D1D1;
   border-radius: 0.75rem;
}
.checkbox__fake{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 1rem;
   width: 1.5rem;
   height: 1.5rem;
   border: 1.5px solid #D1D1D1;
   border-radius: 3px;
   pointer-events: none;
   transition: 0.3s;
   &::before{
         content: url(../image/check.svg);
         position: absolute;
         top: 0;
         left: 4px;
         width: 100%;
         height: 100%;
         opacity: 0;
         transition: 0.3s;
   }
}


.filter__wrapper{
   display: flex;
   align-items: center;
   padding-right: 1rem;

}


.filter__select{
   padding-left: 1rem;
   border-left: 1px solid #D1D1D1 ;
   & select{
      background-color: inherit;
   }
}
/*-------------------------------------------------------------------------------------------------*/
.shop__content {
   padding: $pad-top-bot;
}

.shop-body {
   display: grid;
   grid-template-columns: 16.875rem 1fr;
   gap: 32px;

   @media (max-width:1023px){
      grid-template-columns: 1fr;
   }
}
.side__bar {
   display: flex;
   flex-direction: column;
   gap: 3rem;
   position: relative;
   @media (max-width:1023px){
      flex-direction: row;
   }
}
.side-category {
   flex: 1;
}
.side-item {
   display: flex;
   justify-content: space-between;

   & p {
      margin-right: 0.3125rem;
   }
  
}


.side-brands {
   flex: 2;
}
.brands-item {
   position: relative;

   & .checkbox__fake{
      left: 0;
   }
   
   & label > img{
     display: inline-block;
     position: relative;
     top: 5px;
     width: 0.875rem;
     height: 0.875rem;
   }
}


.checkbox__fake {
}

.side__rating {
   flex: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.side__price {
   width: 250px;
  flex: 2;
}
.price__slider {
   margin-bottom: 1.5rem;
  
}
.price__inputs {
   display: flex;
   justify-content: space-between;
   gap: 2.0625rem;
}
.price__label{

}
.price__label:first-of-type {
   position: relative;
   &::after{
      content: '';
      position: absolute;
      top: 40px;
      left: 120px;
      width: 10px;
      height: 1px;
      background-color: $clr--a9a9;
   }
}
.label__span {
   font-weight: 600;
   font-size: 12px;
}
.price__input {
   background-color: $clr--f9f9;
   border: 1px solid #D1D1D1;
   padding: 0.75rem 1rem;
   border-radius: 12px;
}


.side__buttons {
   display: flex;
   gap: 2.875rem;
  
   @media (max-width:1023px){
      position: absolute;
      bottom: 0;
      right: 0;
   }
   
}
.button-reset{
   font-weight: 700;
   font-size: 0.9375rem;
   color: $clr--a9a9;
   background-color: transparent;
   }




.main__content {
}
.body-content{
   display: none;
}

/*-------------------------------------------------------------------------------------------------*/
.grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
   gap: 2rem;
}

.rating {
   display: flex;
   justify-content: flex-end;
   flex-direction: row-reverse;
}
.rating__item {
   font-size: 1.5rem;
   cursor: pointer;
   transition: .3s;
  color: grey;
}
.rating__item:hover,
.rating__item:hover ~ .rating__item{
   color: #e9da05;
}
.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1){
   color: #e9da05;
}



.line-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.line-item{
   display: grid;
   grid-template-columns: 16.875rem 1fr;
   align-items: center;
   padding: 1rem;
   border: 1px solid #D1D1D1;
   gap: 2rem;
   border-radius: 0.75rem;
   @media (max-width: 767.8px){
      grid-template-columns: 1fr;
   }
}
.line-image{
   border-radius: 12px;
   & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.75rem;
   }
}
.line__body {
   display: flex;
   width: 100%;
   justify-content: space-between;
   gap:clamp(2rem,5vw,6rem);
}
.line-left {
}
.title {
}
.best__text {
   margin-bottom: 0;
}

.left__decriptions {
   display: flex;
   gap: 2rem;
   & ul li{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 0.875rem;
      color: $clr--a9a9;
      margin-bottom: 0.75rem;
   }
   & ul li:last-of-type{
      margin-bottom: 0;
   }
   & ul li span{
      color: $clr-green;
   }
}
.line-right {

   & .best__number {
      margin-bottom: 1rem;
   }
    & .best__button {
      margin-bottom: 0.75rem;
   }
}

.right-delivery {
   font-family: 'Open Sans';
      font-weight: 400;
      font-size: 0.875rem;
      color: $clr--a9a9;
      margin-bottom: 1.5rem;
      & span{
         display: block;
      }
      
}

.right-wish {
   padding: 0.375rem 0.75rem;
   background-color: $clr--f5f5;
   border-radius: 0.75rem;
   font-weight: 700;
   font-size: 15px;
   color: $clr-def;
}
/*---------------------------more----------------------------------------------------------------------*/
.more {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   align-items: center;
}
.page__block {
   display: flex;
   align-items: flex-end;
   & P{
      margin-right: 0.5rem;
      font-family: $font-fam;
      font-weight: 400;
      font-size: 0.875rem;
      color: $clr--a9a9;
   }
}
.page-number {
   display: flex;
  
   gap: 0.5rem;

   & li{
      font-size: 0.75rem;
      font-family: $font-fam;
      font-weight: 400;
   }
}
.more__button {
}
.more__amount {
   font-size: 0.75rem;
   color: $clr--a9a9;
   & span{
      display: inline-block;
      padding: 0 0.5rem;
      font-weight: 600;
      font-size: 0.75rem;
      margin-right: 0.25rem;
      color: $clr-green;
      background: #F4F8EC;
      border-radius: 12px;
   }
}









.active{
   display: block;
}
.green{
   color: $clr-def;

   & svg{
      stroke:$clr-green;
      
   }
}