@import url(../css/full.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);
.sml-green {
  font-weight: 600;
  font-size: 0.75rem;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  padding: 2px 6px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #151515;
  margin-bottom: 1rem;
}

.def-list div {
  margin-bottom: 0.875rem;
}

.def-list p, label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
}

.button {
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 0.75rem;
  color: white;
  padding: 0.75rem 1rem;
}

/*--------------------------------------top-body -----------------------------------------------------------*/
main {
  line-height: 1.5;
}

.top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
}
.top-body > h2 {
  font-weight: 600;
  font-size: 2rem;
}

.how-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 25px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.75rem;
  color: #A9A9A9;
}
.how-view p {
  cursor: pointer;
}

.tab-link svg {
  stroke: #A9A9A9;
  display: inline-block;
  position: relative;
  top: 3px;
}

.prod-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prod-block span {
  padding: 0px 6px;
}

/*-----------------------------filter--------------------------------------------------------------------*/
.form__container {
  padding: 1rem;
}

.top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.top-form > div {
  border: 1.5px solid #D1D1D1;
  border-radius: 0.75rem;
  background-color: #F9F9F9;
}

.filter__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1rem;
  gap: 1rem;
}

.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.discr {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  padding-left: 2rem;
}

.radio {
  display: none;
}
.radio:checked + .fake::before {
  opacity: 1;
}

.fake {
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid #D1D1D1;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 0;
  pointer-events: none;
}
.fake:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  border: 0.3125rem solid black;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 1rem;
  position: relative;
}
.filter__checkbox .discr {
  margin-right: 0.625rem;
  padding-left: 2rem;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__fake {
  opacity: 1;
  background-color: #6A983C;
  border-color: #3e631a;
}
.checkbox__input:checked + .checkbox__fake::before {
  opacity: 1;
}

.nbm {
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border: 1.5px solid #D1D1D1;
  border-radius: 0.75rem;
}

.checkbox__fake {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid #D1D1D1;
  border-radius: 3px;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkbox__fake::before {
  content: url(../image/check.svg);
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

.filter__select {
  padding-left: 1rem;
  border-left: 1px solid #D1D1D1;
}
.filter__select select {
  background-color: inherit;
}

/*-------------------------------------------------------------------------------------------------*/
.shop__content {
  padding: clamp(1rem, 4vw, 4rem) 0;
}

.shop-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16.875rem 32px 1fr;
  grid-template-columns: 16.875rem 1fr;
  gap: 32px;
}
@media (max-width: 1023px) {
  .shop-body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.side__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  position: relative;
}
@media (max-width: 1023px) {
  .side__bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.side-category {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.side-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.side-item p {
  margin-right: 0.3125rem;
}

.side-brands {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.brands-item {
  position: relative;
}
.brands-item .checkbox__fake {
  left: 0;
}
.brands-item label > img {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 0.875rem;
  height: 0.875rem;
}

.side__rating {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.side__price {
  width: 250px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.price__slider {
  margin-bottom: 1.5rem;
}

.price__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.0625rem;
}

.price__label:first-of-type {
  position: relative;
}
.price__label:first-of-type::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 120px;
  width: 10px;
  height: 1px;
  background-color: #A9A9A9;
}

.label__span {
  font-weight: 600;
  font-size: 12px;
}

.price__input {
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  padding: 0.75rem 1rem;
  border-radius: 12px;
}

.side__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.875rem;
}
@media (max-width: 1023px) {
  .side__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.button-reset {
  font-weight: 700;
  font-size: 0.9375rem;
  color: #A9A9A9;
  background-color: transparent;
}

.body-content {
  display: none;
}

/*-------------------------------------------------------------------------------------------------*/
.grid-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rating__item {
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: grey;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: #e9da05;
}

.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4),
.rating[data-total-value="3"] .rating__item:nth-child(n+3),
.rating[data-total-value="4"] .rating__item:nth-child(n+2),
.rating[data-total-value="5"] .rating__item:nth-child(n+1) {
  color: #e9da05;
}

.line-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.line-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16.875rem 2rem 1fr;
  grid-template-columns: 16.875rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid #D1D1D1;
  gap: 2rem;
  border-radius: 0.75rem;
}
@media (max-width: 767.8px) {
  .line-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.line-image {
  border-radius: 12px;
}
.line-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}

.line__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(2rem, 5vw, 6rem);
}

.best__text {
  margin-bottom: 0;
}

.left__decriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.left__decriptions ul li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #A9A9A9;
  margin-bottom: 0.75rem;
}
.left__decriptions ul li:last-of-type {
  margin-bottom: 0;
}
.left__decriptions ul li span {
  color: #6A983C;
}

.line-right .best__number {
  margin-bottom: 1rem;
}
.line-right .best__button {
  margin-bottom: 0.75rem;
}

.right-delivery {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #A9A9A9;
  margin-bottom: 1.5rem;
}
.right-delivery span {
  display: block;
}

.right-wish {
  padding: 0.375rem 0.75rem;
  background-color: #F5F5F5;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 15px;
  color: #151515;
}

/*---------------------------more----------------------------------------------------------------------*/
.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page__block P {
  margin-right: 0.5rem;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #A9A9A9;
}

.page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.page-number li {
  font-size: 0.75rem;
  font-family: "Open Sans";
  font-weight: 400;
}

.more__amount {
  font-size: 0.75rem;
  color: #A9A9A9;
}
.more__amount span {
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  margin-right: 0.25rem;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
}

.active {
  display: block;
}

.green {
  color: #151515;
}
.green svg {
  stroke: #6A983C;
}